---
import StoreCartCustomer from "./StoreCart-Customer.astro";
---
<StoreCartCustomer />

<center>
    <div class="mt-5 md:mt-14 ">
      <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
        Products & Services
      </h2>
    </div>
    <p class="text-lg mt-4 text-slate-300">
      More products coming soon... Please stand by!
    </p>
</center>