---
import StoreCustomerLogin from "@components/store/StoreCustomerLogin.astro";
import ShoppingCart from "@components/store/StoreCartWidget.astro";
---
<div class="flex flex-row">
    <div class="flex-none">
      <ShoppingCart />
    </div>
    <div class="flex-1" />
    <div class="flex-2">
      <StoreCustomerLogin />
    </div>
  </div>