---
import Container from "@components/ui/container.astro";
import StoreLayout from "@layouts/StoreLayout.astro";
import ShoppingCart from "@components/store/StoreCartWidget.astro";
import StoreProductList from "@components/store/StoreProductList.astro";
import StoreHeader from "@components/store/StoreHeader.astro";
---
<StoreLayout title="Store">
  <Container>
    
    <ShoppingCart />
    <StoreHeader />

    <center>
      <p class="text-lg mt-4 text-slate-300">
        More products coming soon... Please stand by!
      </p>
    </center>

    <StoreProductList /> 
    
  </Container>
</Layout>
