---
import GhostPost from '@components/blog/GhostPost.astro';
import { getGhostPosts, getGhostTags } from '@lib/ghost';
import LiveRender from '@layouts/LiveRender.astro';
import Container from '@components/ui/container.astro';
import Sectionhead from '@components/ui/sectionhead.astro';
import GhostPowered from '@components/crumbs/GhostPowered.astro';
import RssIcon from '@components/crumbs/RssIcon.astro';
import OurBlogAuthors from '@components/blog/OurBlogAuthors.astro';

const posts = await getGhostPosts();
const tags = await getGhostTags();
    
---
<LiveRender title="Blog">
    <Container>

      <GhostPowered />
      
      <Sectionhead>
        <Fragment slot="title"> Blog <RssIcon /></Fragment>
        <Fragment slot="desc">Our Posts & Tutorials, Our Tutorials mainly Focus on FOSS (Free Open Source Software).</Fragment>
      </Sectionhead>
      

      <main class="mt-5 max-w-5xl mx-auto">

        <OurBlogAuthors />

        {tags && (
          <div class="text-white mt-2">
            Blog Tags: <span class="text-gray-400"> 
              {tags.map((tag) => (
              <a href={`/blog/tag/${tag.slug}`}> 
                #{tag.name}({tag.count.posts})
              </a>
              ))} </span>
          </div>
        )}

        <ul class="grid gap-16 ">
          { posts.map((post) => <GhostPost post={post} />) }
        </ul>
      </main>
      
    </Container>
</LiveRender>
