---
import GhostPost from '@components/blog/GhostPost.astro';
import BaseSSR from '@layouts/BaseSSR.astro';
import Container from '@components/ui/container.astro';
import Sectionhead from '@components/ui/sectionhead.astro';
import GhostPowered from '@components/crumbs/GhostPowered.astro';
import RssIcon from '@components/crumbs/RssIcon.astro';
import OurBlogAuthors from '@components/blog/OurBlogAuthors.astro';
import TagIndex from '@components/blog/TagIndex.astro';
import { getGhostPosts } from '@matthiesenxyz/astro-ghostcms';

const posts = await getGhostPosts();
---
<BaseSSR title="Blog">
  <Container>
    <GhostPowered />
    <Sectionhead>
      <Fragment slot="title"> Blog <RssIcon /></Fragment>
      <Fragment slot="desc">Our Posts & Tutorials, Our Tutorials mainly Focus on FOSS (Free Open Source Software).</Fragment>
    </Sectionhead>
    <main class="mt-5 max-w-5xl mx-auto">
      <OurBlogAuthors />
      <TagIndex />
      <ul class="grid gap-16 ">
        { posts.map((post) => <GhostPost post={post} />) }
      </ul>
    </main>
  </Container>
</BaseSSR>
