---
import { Image } from "astro:assets";
import testOutCert from "@assets/portfolios/adam/TestOutPCPRO.png";
import threecxBasic from "@assets/portfolios/adam/ThreecxBasic.png";
---
<div class="flex flex-col mx-auto max-w-4xl mt-5">
    <h2 class="font-bold text-3xl text-white">
    Certifications
    </h2>
    <div class="px-4 pb-0 pt-1 justify-left  ">
        <div class="flex flex-row">
            <a 
            href="#" 
            target="" 
            title="TestOut PC Pro Certified">
                <Image 
                class="mx-1" 
                src={testOutCert} 
                height="64" width="64" 
                alt="TestOut PC Pro Certified" />
            </a>
            <a 
            href="https://portal.3cx.com/share/certificate/w9XQneM8HY" 
            target="_blank" 
            title="3CX Basic Certified">
                <Image 
                class="mx-1" 
                src={threecxBasic} 
                height="64" width="64" 
                alt="3CX Basic Certified" />
            </a>
            <!-- PUT NEW ITEMS HERE -->
        </div>
    </div>
</div>