---

---
<div class="flex flex-col gap-3 mx-auto max-w-4xl mt-5">
    <h2 class="font-bold text-3xl text-white">
    Other Projects
    </h2>
    <ul>
        <li><a target="_blank" class="bg-blue-100 hover:bg-blue-200 text-blue-800 text-base font-semibold me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-blue-400 border border-blue-400 inline-flex items-center justify-center" href="https://matthiesenphotography.com">
            <i class="mr-1 bi bi-camera" /> Matthiesen Photography
        </a></li>
        <li><a target="_blank" class="bg-blue-100 hover:bg-blue-200 text-blue-800 text-base font-semibold me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-blue-400 border border-blue-400 inline-flex items-center justify-center mt-2" href="https://basestation.space">
            <i class="mr-1 bi bi-globe" /> Basestation Network
        </a></li>
    </ul>
</div>