---

---
<div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
    <h2 class="font-bold text-3xl text-white">
      Creating a NEW type of IT Support.
    </h2>
    <p class="text-lg leading-relaxed text-slate-300">
      We are a small team of one at the moment,  But with the goal to change the way businesses look at their hardware and software they use to run their day to day business.  Get away from the old licensing schemes and join the Open Source movement!  Save money by getting rid of the Licensing fees!  It's time for businesses to stay on the cloud but get away from the spendy Office365 type solutions that are backed with all sorts of closed away code, that can't be tweaked for an individual business use-case.  Even if you are not ready to go Open Source we are more than able to help!  Just tell us what you want and we will make it happen!
      <br /><br />
      But with Open Source you can make the code your own and tweak to your hearts content.  Create the project that fits your needs, or if you need a Office365 alternative, go with a Open Source Alternative like NextCloud, OnlyOffice, LibreOffice, and there is tons more, these are just an example of the Office type alternatives!  Even this website is built using Open Source and costs us next to nothing to own!
    </p>
</div>