---

---
<div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
    <h2 class="font-bold text-3xl text-white">
      Creating a NEW type of IT Support.
    </h2>
    <p class="text-lg leading-relaxed text-slate-300">
      We are a small team of one at the moment,  But with the goal to change the way businesses look at their hardware and software they use to run their day to day business.  The Open Source Alternative!  Save money by getting rid of the Licensing fees!
    </p>
</div>