---
import AstroSupporterIcon from "./AstroSupporterIcon.astro";
import GithubLastCommit from "./GithubLastCommit.astro";
---
<div class="flex justify-center mt-10 mb-2">
    <h2 class="font-bold text-xl text-white">About This website</h2>
  </div>
  <center>
    <GithubLastCommit />
    <div class="my-2" />
    <AstroSupporterIcon />
</center>