---
import ContactForm from "@components/contact/ContactForm.vue";
import Contactinfo from "@components/contact/Contactinfo.astro";
import Container from "@components/ui/container.astro";
import Sectionhead from "@components/ui/sectionhead.astro";
import BaseSSG from "@layouts/BaseSSG.astro";

---

<BaseSSG title="Contact">
  <Container>

    <Sectionhead>
      <Fragment slot="title">Contact</Fragment>
      <Fragment slot="desc">We are a here to help.</Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
      <Contactinfo />
      <ContactForm client:load/>
    </div>

  </Container>
</BaseSSG>
