---
import Product from "@components/snipcart/Product.astro";
import Container from "@components/ui/container.astro";
import StoreLayout from "@layouts/StoreLayout.astro";
import ShoppingCart from "@components/store/ShoppingCart.astro";
---

<StoreLayout title="">
  <Container>
    <ShoppingCart />


    <center>
      <div class="mt-16 md:mt-5 ">
        <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
          Store
        </h2>
      </div>
    </center>


  <div class="my-10">Test Product<br />
    <Product
      as="span"
      id="SKU-0001"
      name="Test Product"
      url="/store/test"
      price={ 12.99 }
      description="Every day Test product"
      image="/mxyz-hero.png">
      <button>
          Add
      </button>
    </Product>
  </div>

  <div class="grid sm:grid-cols-2 md:grid-cols-3 mt-10 gap-6">




  </div>
  



  </Container>
</Layout>
