---
import Icon from "astro-icon";
---
<div>
    <h2 class="font-medium text-2xl text-white">Contact Support Center</h2>
    <p class="text-lg leading-relaxed text-gray-300 mt-3">
      Have something to say, or Need help? 
      We are here to help. Fill out the form or send us an email.
    </p>
    <div class="mt-5">
      <div class="flex items-center mt-2 space-x-2 text-slate-200">
        <Icon class="text-white w-4 h-4" name="uil:map-marker" />
        <span>Seattle, Washington 98188</span>
      </div>
      <div class="flex items-center mt-2 space-x-2 text-slate-200">
        <Icon class="text-white w-4 h-4" name="uil:envelope" />
        <a href="mailto:support@matthiesen.xyz">Support@matthiesen.xyz</a>
      </div>
      <div class="flex items-center mt-2 space-x-2 text-slate-500">
        <Icon class="text-white w-4 h-4 mr-2" name="uil:phone" />
        Phone Number Coming Soon
      </div>
      <!--div class="flex items-center mt-2 space-x-2 text-gray-600">
        <Icon class="text-gray-400 w-4 h-4" name="uil:phone" />
        <a href="tel:+1 (987) 4587 899">+1 (987) 4587 899</a>
      </div-->
    </div>
  </div>