<footer class="my-20">
  <p class="text-center text-sm text-slate-300">
    Copyright © {new Date().getFullYear()} Adam Matthiesen
    <br>
    "Matthiesen IT Services & Support"
    <br>
    All rights reserved.
  </p>
</footer>
