---
import GhostDraftPost from '@components/blog/GhostDraftPost.astro';
import { getDraftGhostPosts } from '@lib/ghost';
import Layout from '@layouts/Layout.astro';
import Container from '@components/ui/container.astro';
import Sectionhead from '@components/ui/sectionhead.astro';
import GhostPowered from '@components/crumbs/GhostPowered.astro';
import OurBlogAuthors from '@components/blog/OurBlogAuthors.astro';

const isDevENV = import.meta.env.MODE
const posts = await getDraftGhostPosts();
    
---
<Layout title="Blog">
    <Container>

      <GhostPowered />
      
      <Sectionhead>
        <Fragment slot="title">Blog: DRAFTS</Fragment>
        <Fragment slot="desc">This page only works if the site is in dev mode</Fragment>
      </Sectionhead>
       

      <main class="mt-5 max-w-5xl mx-auto">

        <OurBlogAuthors />

        <ul class="grid gap-16 ">
          {isDevENV === "development" 
          ? posts.map((post) => <GhostDraftPost post={post} />)
          : "This is only Available in Dev Mode"}
        </ul>
      </main>
      
    </Container>
</Layout>
