<form>
    <label for="search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
    <div class="relative">
        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-7 h-7 text-gray-500 dark:text-gray-400 bi bi-hdd-fill" viewBox="0 0 20 20"><path d="M0 10a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v1a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2.5 1a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1m2 0a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1M.91 7.204A2.993 2.993 0 0 1 2 7h12c.384 0 .752.072 1.09.204l-1.867-3.422A1.5 1.5 0 0 0 11.906 3H4.094a1.5 1.5 0 0 0-1.317.782L.91 7.204"/></svg>
        </div>
    <input 
        type="search" 
        id="search" 
        name="search" 
        class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
        placeholder="Search for Drive Report by SN/Make/Model..." required>
        <button type="submit" class="text-white absolute end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Search</button>
    </div>
</form>
<script>
// IMPORTS
import DOMPurify from "dompurify";

// CONSTANT - FORM SELECTOR
const form = document.querySelector("form");

// FORM SUBMISSION PROCESSOR AND REDIRECT
form?.addEventListener("submit", (e) => { e.preventDefault();
    // REQUEST FORM DATA FROM SELECTOR
    const formData = new FormData(form);
    // TAKE FORM DATA AND CLEAN IT FOR JSON SEARCH
    const searchTerm = DOMPurify.sanitize(formData.get("search")?.toString());
    // IF SEARCH IS EMPTY GIVE UP
    if (!searchTerm || searchTerm.length === 0) return;
    // SET SEARCH URL
    const url = new URL("/hddreports/search", window.location.origin);
    // SET QUERY AND SEARCH
    url.searchParams.set("q", searchTerm);
    // SET URL BOX SETTING
    window.location.assign(url.toString()); })
</script>