---
import { getGhostFeaturedPosts } from "@lib/ghost";
import { Picture } from "astro:assets";
import defaultImage from '@assets/component-assets/mxyz-hero.png';
import type { ArrayOrValue, LimitParam } from "@tryghost/content-api";

interface Props { setLimit?:ArrayOrValue<LimitParam>; }
const { setLimit = undefined } = Astro.props 
const posts = await getGhostFeaturedPosts(setLimit);
---
<div class="mt-16 md:mt-10">
    <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
        Featured posts from our Blog
    </h2>
</div>

{posts.length === 0 ? (
    <div class="font-bold mt-10 ml-10"> Sorry</div>
    <p class="text-gray-500 dark:text-gray-400 ml-10">There are no Featured posts at the moment!  Check back later!</p>
) : (
    <div class="grid sm:grid-cols-2 md:grid-cols-3 mt-10 gap-6">
      {posts.map((post) => ( 
        <div class="relative p-4 h-auto border rounded-lg shadow-xl shadow-slate-950 bg-slate-900 border-slate-600">
            <div class=" w-full rounded-md transition object-cover object-center">
            <Picture 
                class="w-full rounded-md transition object-cover object-center"
                width={800} height={600} 
                src={post.feature_image ? post.feature_image.toString() : defaultImage.toString()} 
                alt={post.feature_image_alt ? post.feature_image_alt.toString() : "no alt available"}/>
            </div>
            <div class="mt-1">
            <h3 class="font-semibold text-lg">{post.title}</h3>
            <p class="text-slate-300 mt-0 mb-8">{post.excerpt}</p>
            </div>
            <div class="absolute left-1 bottom-0">
                <a href="/blog/authors" class="inline-flex pr-2 mb-2  focus:outline-none rounded-full border focus:z-10 focus:ring-4  focus:ring-gray-700 bg-slate-800 text-slate-300 border-gray-600 hover:bg-slate-600">
                    <img class="w-7 h-7 me-1 rounded-full" src={post.primary_author && post.primary_author.profile_image} alt={post.primary_author && post.primary_author.name}>
                    <span class="text-slate-300 mt-1">{post.primary_author && post.primary_author.name}</span>
                </a>
            </div>
            <div class="absolute bottom-0 right-1">
                <a href={`/blog/${post.slug}`} class="inline-flex text-slate-200 bg-gradient-to-r from-blue-500 via-blue-700 to-blue-900 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-800 font-medium rounded-lg text-sm px-2 py-1.5 text-center me-2 mb-2 ">Read...</a>
            </div>
        </div>
      ))}
    </div>
)}