---
import { Picture } from "astro:assets";
import heroImage from "assets/mxyz-hero.png";
import Link from "@components/ui/link.astro";
---
<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block">
    <Picture
      src={heroImage}
      alt="Matthiesen IT Services Heroimg"
      widths={[200, 400, 600]}
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight text-white xl:tracking-tighter">
      Matthiesen IT Services & Support
    </h1>
    <p class="text-lg mt-4 text-slate-200 max-w-xl">
      From helping you setup your computer, to building a 
      datacenter.  From a Help-Desk to a Managed Service provider. 
      Any IT Project is not to big or to small, Need a website?
      No Problem!  Looking to reduce monthly or yearly costs and
      switch to the Open Source alternative? Just Contact us for help! 
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="/contact"
        target=""
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        <i class="w-5 h-5 bi bi-envelope-at"></i>

         Submit a Support Center Request!
      </Link>
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="/blog"
        class="flex gap-1 items-center justify-center"
        target="">
        <i class="w-5 h-5 bi bi-journal-bookmark-fill"></i>
         Check out Our Blog for Open Source Ideas!
      </Link>
    </div>
  </div>
</main>
