---
import ReviewCard from "@components/index/ReviewCard.astro";
---
<div class="mt-16 md:mt-10">
    <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
      Testimonials
    </h2>
    <div class="my-5" />
    
    <!-- While NO Reviews Exist -->
    <div class="font-bold ml-10"> Sorry</div>
    <p class="text-gray-500 dark:text-gray-400 ml-10">There are no Testimonials at the moment, Check back later!</p>

    <!--ReviewCard /-->
  </div>