---
import Navbar from "@components/navbar/navbar.astro";
import Footer from "./footer.astro";

---
<body>
    <Navbar />
    <div class="pt-10" />
    <slot />
    <div class="divider py-0 mb-0 mt-5" />
    <Footer />
</body>