---
---
<div class="p-1 pl-4 mb-2 text-sm text-yellow-800 rounded-lg bg-yellow-50 dark:bg-gray-800 dark:text-yellow-300" role="alert">
    <span class="font-medium">Warning alert!</span> You are currently viewing the DEV Environment.  THIS IS NOT LIVE.
</div>