---
import { Title } from "headerVars";

---
<footer class="my-5">
  <p class="text-center text-sm text-slate-300">
    {Title}
    <br>
    © {new Date().getFullYear()} Adam Matthiesen
    <br>
    All rights reserved.
    <br>
    <a href="/">Matthiesen.xyz</a>
  </p>
</footer>
