---
import ghostImage from '@assets/component-assets/ghost-powered.webp';
import { Image } from 'astro:assets';
---
<div class="flex flex-row">
    <div class="w-20 h-8 bg-slate-100 rounded-full border-black border-2 hover:bg-slate-100">
        <a href="https://ghost.org/" target="_blank" rel="noopener noreferrer" aria-label="ghost.org">
            <div class="sr-only">Ghost.org</div>
            <Image class="w-20" src={ghostImage} alt="Ghost Powered" aria-hidden="true" />
        </a>
    </div>
    <div class="text-white mt-1 ml-2">
        Our blog is powered by a Self-Hosted GhostCMS server.
    </div>
</div>