---

---
<div class="max-w-5xl mx-auto">
    <div class="w-20 h-auto inline-flex bg-slate-100 rounded-full border-black border-2 hover:bg-slate-100">
        <a href="https://ghost.org/">
            <img class="w-20" src="/ghost-powered.webp" alt="Ghost Powered">
        </a>
    </div>
    <div class="text-white inline-flex">
        Powered by a Self-Hosted GhostCMS server.
    </div>
</div>